[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "dependencies/cpp17_headers"]
    path = dependencies/cpp17_headers
    url = https://github.com/tcbrindle/cpp17_headers.git
[submodule "dependencies/websocketpp"]
	path = dependencies/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "dependencies/reflector"]
	path = dependencies/reflector
	url = https://github.com/minexew/reflector.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/GSL"]
    path = dependencies/GSL
    url = https://github.com/Microsoft/GSL.git
